.button-secondary {
  flex-grow: 1;
  text-align: center;
  border: solid 2px #0984e3;
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  color: #0984e3;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  padding: 0 0.5rem;
}

.button-secondary:hover {
  transform: scale(1.05);
}

.button-secondary:active {
  transform: scale(1);
}
