.all-deals-main-toolbar {
  grid-column: 1/13;
  grid-row: 2/3;
  text-align: right;
  background-color: white;
}

.all-deals-main {
  grid-column: 3/11;
  grid-row: 3/12;
}

.all-deals-main-toolbar-filter {
  right: 0;
  height: 3.5rem;
}

@media only screen and (max-width: 1150px) {
  .all-deals-main {
    grid-column: 1/13;
  }
}
