.deal-view-main {
  background-color: white;
  grid-column: 3/11;
  grid-row: 2/12;
  display: grid;
  padding: 1rem;
  margin: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(min-content, 40rem) 4rem 1fr repeat(3, min-content);
  column-gap: 1rem;
  row-gap: 1rem;
}

.deal-view-details {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.deal-view-image {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
}

.deal-view-rating {
  align-self: center;
  grid-column: 1/2;
}

.deal-view-rating > p {
  font-size: 3rem !important;
}
.deal-view-rating > img {
  height: 3.5rem !important;
  width: 3.5rem !important;
}

.deal-view-view-comments {
  align-self: center;
  justify-self: right;
  display: flex;
  grid-column: 2/3;
  cursor: pointer;
}
.deal-view-view-comments:hover {
  filter: invert(58%) sepia(97%) saturate(358%) hue-rotate(183deg)
    brightness(101%) contrast(102%);
}

.deal-view-view-comments-icon {
  height: 3.5rem;
  width: 3.5rem;
}

.deal-view-view-comments-total {
  font-size: 3rem;
}

.deal-view-title {
  grid-column: 1/3;
  font-size: 2.5rem;
}

.deal-view-prices {
  grid-column: 1/3;
}

.deal-view-deal-price {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--colour-primary);
}

.deal-view-postage {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.deal-view-postage-icon {
  height: 3rem;
  width: 3rem;
  filter: invert(69%) sepia(48%) saturate(13%) hue-rotate(79deg) brightness(97%)
    contrast(93%);
}
.deal-view-postage-price {
  font-size: 2rem;
  color: var(--colour-grey);
}

.deal-view-get-deal {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colour-primary);
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  height: 70%;
  align-self: center;
  transition: all 0.5s;
  text-decoration: none;
}
.deal-view-get-deal:hover {
  transform: scale(1.03);
}

.deal-view-get-deal-icon {
  height: 3.5rem;
  width: 3.5rem;
  filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(318deg)
    brightness(101%) contrast(105%);
}

.deal-view-get-deal > p {
  font-size: 3rem;
  margin-left: 0.5rem;
  font-weight: bold;
  margin-right: 0.4rem;
}

.deal-view-user {
  height: 50%;
  align-self: center;
  justify-self: start;
}

.deal-view-extras {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  border: 1px solid var(--colour-grey-dark);
  border-radius: 5px;
}

.deal-view-extras > div {
  align-items: center;
  display: flex;
  column-gap: 0.5rem;
}

.deal-view-extras > div > img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(63%) sepia(10%) saturate(15%) hue-rotate(27deg) brightness(98%)
    contrast(84%);
}

.deal-view-extras > div > p {
  color: var(--colour-grey-dark);
  font-size: 2rem;
}

.deal-view-description {
  font-size: 2.5rem;
  grid-column: 1/3;
}

.deal-view-comments-header {
  background-color: var(--colour-primary);
  color: white;
  grid-column: 1/3;
  font-size: 3rem;
  padding-left: 1rem;
}

.deal-view-comments {
  grid-column: 1/3;
}

.deal-view-no-comments {
  font-size: 3rem;
  text-align: center;
}

.deal-view-new-comment {
  padding: 1rem;

  grid-column: 1/3;
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-columns: min-content 1fr;
}
.deal-view-new-comment > p {
  font-size: 2rem;
  grid-column: 1/3;
  margin-bottom: 1rem;
}

.deal-view-new-comment > img {
  grid-column: 1/2;
  grid-row: 3/4;
  height: 6rem;
  width: 6rem;
  align-self: center;
  border-radius: 50%;
}
.deal-view-new-comment > textarea {
  border-radius: 5px;
  grid-row: 3/4;
  margin: 1rem;
  font-size: 2rem;
  font-family: inherit;
}

.deal-view-new-comment > button {
  grid-row: 5/6;
  grid-column: 1/3;
  justify-self: center;
}

.deal-view-new-comment-quoted-comment {
  background-color: white;
  grid-column: 2/3;
  margin: 0 1rem;
  border-left: solid 1px var(--colour-grey-dark);
  display: grid;
}

.deal-view-new-comment-quoted-comment-close-icon {
  height: 3rem;
  width: 3rem;
  grid-row: 1/2;
  justify-self: right;
  cursor: pointer;
}

.deal-view-new-comment-quoted-comment > p {
  padding-left: 1rem;
  color: var(--colour-grey-dark);
}

.deal-view-new-comment-quoted-comment-user {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 2rem;
  font-weight: bold;
}

.deal-view-new-comment-quoted-comment-text {
  font-size: 1.7rem;
}

.deal-view-new-comment-error {
  color: red;
  text-align: center;
  grid-row: 4/5;
}
@media only screen and (max-width: 1150px) {
  .deal-view-main {
    background-color: white;
    grid-column: 1/13;
  }
}

@media only screen and (max-width: 675px) {
  .deal-view-main {
    grid-template-rows: 20rem min-content 4rem repeat(3, min-content);
  }
  .deal-view-image {
    grid-column: 1/3;
    width: 20rem;
    height: 20rem;
    justify-self: center;
  }
  .deal-view-details {
    grid-template-rows: repeat(5, min-content);
    grid-column: 1/3;
    row-gap: 1rem;
  }

  .deal-view-user {
    height: 100%;
  }
  .deal-view-get-deal {
    height: 100%;
  }
}
