.nav {
  grid-column: 1/13;
  display: grid;
  align-items: center;
  column-gap: 1rem;
  padding: 0 1rem;
  grid-template-columns:
    12rem 20rem 1fr 40% 1fr 20rem
    12rem;
  background-color: white;
  border-bottom: 2px solid var(--colour-grey);
}

.nav-title {
  font-size: 4rem;
  grid-column: 1/2;
  cursor: pointer;
  justify-self: left;
}

.nav-search-bar {
  grid-column: 4/5;
  outline: solid 0.2rem var(--colour-grey);
  border-radius: 5px;
  position: relative;
}

.nav-search-bar-mobile {
  grid-column: 1/6;
}

.nav-search-bar:focus-within {
  outline: 0.2rem solid var(--colour-primary);
  border-radius: 5px;
}

.nav-search-bar-icon {
  position: absolute;
  height: 3.6rem;
  cursor: pointer;
}
.nav-search-bar-close-icon {
  position: absolute;
  right: 0;
}

.nav-search-bar-input {
  border: none;
  font-size: 3rem;
  width: 100%;
  padding-left: 4rem;
  border-radius: 5px;
}

.nav-search-bar-input:focus {
  outline: none;
}

.nav-icon {
  height: 2.6rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg)
    brightness(103%) contrast(101%);
}

.nav-button {
  justify-self: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: var(--colour-primary);
  color: white;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
}

.nav-button > p {
  padding-right: 0.4rem;
  font-size: 2rem;
}

.nav-button-search {
  grid-column: 5/6;
}

.nav-button-submit {
  grid-column: 7/8;
}

.nav-button-login-register {
  width: 20rem;
  grid-column: 6/7;
}

.nav-button-user {
  grid-column: 6/7;
}

@media only screen and (max-width: 1150px) {
  .nav-button > p {
    display: none;
  }
  .nav-button {
    padding: 0.6rem;
    width: 4rem;
  }
  .nav {
    grid-template-columns: repeat(2, 4rem) 1fr auto 1fr repeat(2, 4rem);
  }
}

@media only screen and (max-width: 600px) {
  .nav-search-bar-icon {
    height: 3.6rem;
    cursor: pointer;
  }
  .nav {
    grid-template-columns: repeat(3, 1fr) auto repeat(3, 4rem);
  }
}
