.nav-account {
  position: relative;
  grid-column: 6/7;
}

.nav-account-image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid var(--colour-primary);
  cursor: pointer;
}

.nav-account-menu {
  z-index: 999;
  text-align: center;
  right: -6rem;

  background-color: var(--colour-primary);
  position: absolute;
  clip-path: polygon(
    40% 10%,
    50% 0,
    60% 10%,
    100% 10%,
    100% 100%,
    0 100%,
    0 10%
  );
}
.nav-account-menu-username {
  font-size: 4rem;
  margin-top: 1rem;
  color: white;
  background-color: var(--colour-primary);
  cursor: default;
}

.nav-account-menu-action {
  border-left: 1px solid var(--colour-grey);
  border-right: 1px solid var(--colour-grey);
  border-bottom: 1px solid var(--colour-grey);
  font-size: 4rem;
  color: black;
  background-color: white;
}

.nav-account-menu-action:hover {
  color: var(--colour-primary);
}

.logout-title {
  font-size: 4rem;
}

.logout-content > button {
  font-size: 4rem;
  padding: 0 5rem;
  margin: 2rem;
}
