.title {
  color: var(--secondary);
}

.website {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 7rem min-content repeat(9, minmax(auto, 1fr)) 20rem;
  background-color: var(--colour-grey-light);
}

.footer {
  background-color: blue;
  grid-column: 1/13;
  grid-row: 12/13;
}
