body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --colour-primary: #1255e7;
  --colour-secondary: #74b9ff;
  --colour-grey: #b8b8b8;
  --colour-grey-dark: #9b9b9b;
  --colour-grey-light: #dddddd;
}

@media only screen and (max-width: 675px) {
  html {
    font-size: 57.5%;
  }
}
