.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: white;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal-title {
  font-size: 4rem;
  margin: 1rem;
  color: var(--colour-primary);
}

.modal-create-new-account-text {
  font-size: 2.5rem;
  padding: 1rem;
}

.modal-text {
  font-size: 3rem;
  margin: 1rem;
  color: #636e72;
}

.modal-error-message {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-close-icon {
  align-self: flex-end;
  height: 4rem;
  width: 4rem;
  right: 0;
  top: 0.2rem;
  cursor: pointer;
}

.input-form > label {
  display: block;
}

.input-form > label > span {
  display: block;
  font-size: 2.5rem;
}

.input-form > label > input {
  font-size: 3rem;
  margin: 0.5rem;
}

.input-form > button {
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0.5rem;
}

.modal-create-new-account-text > span {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .modal-main {
    width: 80%;
  }
  .modal-title {
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  .input-form > label > input {
    font-size: 2rem;
    height: 4rem;
  }
}
